@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: linear-gradient(180deg, #ec008c, #fc6767);
}

.swiper-pagination {
  color: #000 !important;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
  color: #000000 !important;
}

/* code for slider.js */
.splide {
  padding: 0em !important;
}
.splide_track {
  margin-top: 224px !important;
}

.splide__slide {
  max-height: 600px;
}

.splide__slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center;
}

.splide__arrow {
  width: 40px !important;
  height: 40px !important;
  padding: 10px !important;
  border-radius: 50% !important;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(12px) !important;
}

.splide__arrow svg {
  fill: #ec008c !important;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 2px solid #ec008c !important;
}
