.product_wrapper {
  scroll-behavior: smooth;
  width: 100%;
  padding: 18px 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.wrapper {
  position: sticky !important;
  top: 70px !important;
  max-height: 100vh;
}

.product_info {
  max-width: 600px;
}

.product_brand {
  margin: 24px 0px 8px 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.product_short_description {
  text-transform: uppercase;
  font-weight: 500;
  margin: 14px 0;
  font-size: 18px;
}

.product_description {
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
}

.product_description .bold_text {
  color: #ec008c;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 4px;
}

.product_heightlights {
  margin-top: 18px;
}

.product_heightlights .bold_text {
  color: #ec008c;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 4px;
}

.point_list {
  padding-left: 20px;
}

.tags {
  margin-top: 14px;
  font-size: 16px;
  text-transform: capitalize;
}

.tags span.bold_text {
  color: #ec008c;
  font-weight: 600;
  font-size: 16px;
}

.product_Size_wrapper {
  margin-top: 12px;
}

.radio__legend {
  max-width: 400px;
  margin: 32px 0px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  color: #ec008c;
}

.radio__legend__label,
.size_chart_btn {
  font-size: 16px;
  font-weight: 600;
}

.size_radio_btn {
  display: none;
}

.product_sizes {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.product_sizes label {
  display: flex;
  width: 60px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(234, 234, 234);
  cursor: pointer;
}

.size_radio_btn:checked + .size_label {
  border-color: #ec008c;
}

.disabled {
  position: relative;
  opacity: 0.7;
  overflow: hidden;
}

.disabled::after {
  content: "";
  position: absolute;
  top: 57%;
  left: -16px;
  width: 171%;
  height: 2px;
  transform: rotate(217deg);
  background: rgb(234, 234, 234);
}

.product_colors {
  margin-top: 26px;
  padding-bottom: 6px;
  border-bottom: 4px solid rgb(234, 234, 234);
}

.product_color_name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.product_color_name span {
  color: #ec008c;
}

.color_group {
  display: flex;
  gap: 20px;
}

.product_color_label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(234, 234, 234);
  overflow: hidden;
  cursor: pointer;
}
.product_color_label img {
  object-fit: cover;
  object-position: center;
}

.color_wrapper input {
  display: none;
}

.color_wrapper input:checked + .product_color_label {
  border-color: #ec008c;
}

.product_price_wrapper {
  margin-top: 14px;
  font-size: 26px;
  display: flex;
  gap: 12px;
}

.price {
  font-weight: 700;
  color: #ec008c;
}

.strike_price {
  text-decoration: line-through;
  color: rgb(151, 151, 151);
}

@media screen and (max-width: 1024px) {
  .product_wrapper {
    padding: 18px 3%;
    display: flex;
    grid-template-columns: 0fr;
    max-width: 100%;
    flex-direction: column;
  }

  .product_info {
    max-width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
    max-height: unset;
    position: unset !important;
    top: unset !important;
  }
}

.delevery_avaibility_form {
  display: block;
}

form.delevery_form {
  margin-top: 24px;
  width: 100%;
}

.form_control_group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.delevery_form input {
  width: clamp(70px, 60%, 280px);
  padding: 8px 10px;
  border-radius: 4px;
  caret-color: #ec008c;
  border: 2px solid #ec008c;
  outline: none;
}

.delevery_form input[type="number"]::-webkit-inner-spin-button,
.delevery_form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delevery_form button {
  background: #ec008c;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}

.error_message {
  padding-block: 12px;
  color: red;
}

p.available {
  padding-block: 12px;
  color: rgb(0, 191, 0);
}

p.not_available {
  padding-block: 12px;
  color: red;
}

.buy_now {
  margin-top: 18px;
  display: block;
  width: 100%;
  padding: 8px 18px;
  background: #ec008c;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5 ease-in;
}

.buy_now:hover {
  background: transparent;
  color: #ec008c;
  border: 2px solid #ec008c;
}

.add_to_cart {
  margin-top: 12px;
  display: block;
  width: 100%;
  padding: 8px 18px;
  background: transparent;
  border-radius: 4px;
  color: #ec008c;
  border-color: transparent;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #ec008c;
  transition: all 0.6s ease-in-out;
}

.add_to_cart:hover {
  color: #fff;
  background: #ec008c;
}
